<section class="container">
    <nav>
        <div class="menu">
            <div class="login">
            <a href="/">حساب کاربری</a>
        </div>
        <ul>
            <li>
                <a href="">خانه</a>
            </li>
            <li>
                <a href="">دوره ها</a>
            </li>
            <li>
                <a href="">تست سرعت</a>
            </li>
            <li>
                <a href="">وبلاگ</a>
            </li>
            <li>
                <a href="">ارتباط باما</a>
            </li>
            <li>
                <a href="">درباره ما</a>
            </li>
        </ul>
        </div>
        <div class="log">
        <a href="/">Typistpro.ir</a>
    </div>
    </nav>
    </section>